* {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

body, html {
	background-color: #222;
}

iframe {
	margin: 10px auto;
}

#main {
	width: 560px;
	margin: 0 auto;
}

#main h1 {
	color: #fff;
	padding-top: 80px;
	font-size: 60px;
	text-align: center;
	width: 100%;
}
