* {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

body, html {
	background-color: #222;
}

iframe {
	margin: 10px auto;
}

#main {
	width: 900px;
	margin: 0 auto;
}

#singles, #editions, #in-progress {
    width: 300px;
    float: left;
}

#main h2, #main p {
    color: #fff;
}

#main h1 {
	color: #fff;
	padding-top: 80px;
	font-size: 60px;
	text-align: center;
	width: 100%;
}
